calcite-chip[selected] {
  --calcite-ui-foreground-2: var(--calcite-ui-brand);
  --calcite-ui-text-1: var(--calcite-ui-text-inverse);
}

calcite-chip[selected].all {
  --calcite-ui-foreground-2: #7ec787;
  --calcite-ui-text-1: var(--calcite-ui-text-inverse);
}

calcite-chip[selected].male {
  --calcite-ui-foreground-2: #099fb8;
  --calcite-ui-text-1: var(--calcite-ui-text-inverse);
}

calcite-chip[selected].female {
  --calcite-ui-foreground-2: #f87ba7;
  --calcite-ui-text-1: var(--calcite-ui-text-inverse);
}
#viewDiv {
  height: 100%;
}

#chip-group-layers {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 10px;
  z-index: 600; /* CalciteSheet is zIndex 700 */
}

#container-value-picker-widget {
  position: absolute;
  top: 0;
}

#container-item-details-description {
  font-size: var(--calcite-font-size--2);
  color: var(--calcite-ui-text-3);
}

.calcite-tip-select-feature {
  color: var(--calcite-ui-text-3);
  font-size: var(--calcite-font-size--2);
}

.esri-value-picker__layout--horizontal.esri-value-picker__type--label {
  min-width: 280px;
  width: 100%;
}

calcite-label > span {
  font-weight: 500;
}
calcite-label > div {
  font-size: var(--calcite-font-size--2);
  color: var(--calcite-ui-text-3);
}
/* Mobile */
@media only screen and (max-width: 768px) {
  .calcite-panel-left-desktop {
    display: none;
  }
  .calcite-shell-panel-desktop {
    display: none;
  }

  #navigation-bookmarks {
    display: none;
  }
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .calcite-panel-bottom-mobile {
    display: none;
  }

  #navigation-metrics {
    display: none;
  }
}
